@import url(https://fonts.googleapis.com/css?family=Dosis:700);


.label{
    font-family: "Dosis", Helvetica, Arial, sans-serif; 
    font-size: 14px;
    font-weight: 400;
    alignment-baseline: middle;
}

.label-rotate {
    transform: rotate(-15deg);
}

.genre-popularity-label {
    font-size: 16px;
}

.selected-genre{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 140px;
    padding-top: 30px;
    font-size: 1.5em;
    text-align: end;
}

.input {
    font-family: "Dosis", Helvetica, Arial, sans-serif; 
    font-size: 14px;
    width: 150px;
    height: 30px;
}